
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
}
header{
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    margin: auto;
    background: rgb(122, 120, 120);
}
header h1{
    font-size: 50px;
    text-align: center;
}
header h3{
    font-size: 20px;
    text-align: center;
}